ul.todos {
    margin: 0 auto;
    width: 500px;
    position: relative;
}

ul.todos li {
    background-color: #f9f9f9;
    border: solid 1px #eee;
    list-style: none;
    margin: 6px;
    padding: 6px 9px;
    position: relative;
    cursor: n-resize;
    text-shadow: 1px 1px 0 #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    height: 27px;
}

.todo .text {
    color: #555;
    font-size: 1.4em;
    margin-top: 2px;
}

.todo .actions {
    position: absolute;
    right: 7px;
    top: 7px;
}

.todo input {
    border: solid 1px #ccc;
    color: #666;
    font-size: 0.75em;
    padding: 3px 4px;
    width: 230px;
    margin: -2px 0 0 0;
}

a.saveChanges {
    color: #468847;
}

.todo .actions a.edit {
    color: #C09853;
}

.todo .actions a.delete, a.discardChanges {
    color: #B94A48;
}

.todo .actions a {
    display: block;
    float: left;
    margin: 3px;
}

#addTodoBtnWrapper {
    text-align: center;
}

#addTodoBtn {
    margin: 20px auto;
}

.editTodo {
    display: inline;
    font-size: 0.6em;
    padding-left: 9px;
}

#loginFormWrapper {
    text-align: center;
    width: 240px;
    margin: 0 auto;
}

#loginFormWrapper label {
    text-align: left;
}

#loginFormWrapper ul.errors li {
    list-style: none;
    color: #953B39;

}

#loginFormWrapper p.error {
    color: #953B39;
}